{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<link href="{% static 'kalkulator/style.css' %}" rel="stylesheet"/>	
		<meta charset="utf-8" />
		<title>Kalkulator življenskih stroškov</title>
	</head>
	
	<body>
	
		<div id="page">
	
			<div id="banner">

				{% block logout %}
				
					<div id="logout">							
							
								{% if user.is_authenticated %}
									<a href="kosarica">
									{{ user.username }}						
							
										</a>
									
									
									
									
									
								{% else %}
								
									<a href="kosarica">
									kosarica					
							
										</a>
								
								{% endif %}
														
					</div>	
					
					<div id="back_button">	
							
						<a href="main">
							{{idSeje}}
							<img src="https://image.flaticon.com/icons/svg/60/60817.svg" style="width:44px;height:44px;">
							
						</a>
														
					</div>	
					
				{% endblock %}		
			</div>			
						
			<div id="main">
				
				 {% block main %}
					
				 {% endblock %}
				
						
			</div>						
			
		</div>		
	
	</body>
</html>