{% extends "kalkulator/base.html" %}

{% block main %}
	<div id="Stanje"> 
			
		
		<form> 	
			<label>znamka:</label><select name="znamka">	
										<option>Vsi</option>
										{% for znamka in znamke %}													
												<option>{{znamka}}</option>												
										{% endfor%}																						
										</select>
			<label>Prikljucek:</label><select name="prikljucek">	
										<option>Vsi</option>
										<option>PATA</option>
										<option>SATA</option>										
										</select>
			<label>Velikost:</label><select name="velikost">
										<option>Vsi</option>
										{% for velikost in velikosti %}													
												<option>{{velikost}}GB</option>												
										{% endfor%}																						
										</select>			
			<input type="submit" id="vpisi" value="Prikazi">	
		</form>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
		{% for disk in diski %}			
		{{disk.znamka}}   {{disk.prikljucek}} {{disk.velikost}}GB {{disk.opis}} {{disk.kolicina}}<br>
		{% endfor %}

		
		
		<a href="dodajDisk" style="margin-left:150px">			
			<button> DODAJ NOV DISK</button>
		</a>
		
		

		
		
					
	</div>
{% endblock %}
		
		
		
		
		