{% extends "kalkulator/base.html" %}

{% block main %}
	<div id="Stanje"> 
			
		
		<form> 	
			<label>znamka:</label><select name="znamka">	
										<option>Vsi</option>
										{% for znamka in znamke %}													
												<option>{{znamka}}</option>												
										{% endfor%}																						
										</select>
			<label>Prikljucek:</label><select name="prikljucek">	
										<option>Vsi</option>
										<option>PATA</option>
										<option>SATA</option>										
										</select>
			<label>Velikost:</label><select name="velikost">
										<option>Vsi</option>
										{% for velikost in velikosti %}													
												<option>{{velikost}}GB</option>												
										{% endfor%}																						
										</select>			
			<input type="submit" id="vpisi" value="Prikazi">	
		</form>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
		{% for disk in diski %}
		<img src="{{disk.image.url}}" height="50" width="80">	
			
		{{disk.znamka}}   {{disk.prikljucek}} {{disk.velikost}}GB {{disk.opis}} {{disk.kolicina}}
		<a href="delete/disk/{{ disk.id}}" >	
					<img src="https://cdn0.iconfinder.com/data/icons/classic-icons/512/058.png" height="13" width="13">					
				</a>
		
		
		<br>
		{% endfor %}

		{% if user.is_authenticated %}
		
			<a href="dodajDisk" >			
			<button> DODAJ NOV DISK</button>
		</a>
			{% else %}								
			{% endif %}
		
		
		
		

		
		
					
	</div>
{% endblock %}
		
		
		
		
		