{% extends "kalkulator/base.html" %}

{% block main %}
	<div id="Stanje"> 
			
		
		<form action="dodajGraficno"> {% csrf_token %} 		

			<label>Znamka:</label><input type="text" placeholder="Vpisite znamko" name="znamka">
			<label>Model:</label><input type="text" placeholder="Vpisite model" name="model">	
			<label>Pomnilnik:</label><input type="text" placeholder="Pomnilnik v MB" name="pomnilnik">				
			<label>Povezava:</label><input type="text" placeholder="Povezava" name="povezava">
			<label>Opis:</label><textarea rows="2" placeholder="Opis" name="opis"></textarea>	
			<label>Kolicina:</label><input type="text" placeholder="Vpisite kolicino" name="kolicina">							
										
			<input type="submit" id="vpisi" value="Vpisi">			
			
		</form>
		

		
		
		
		
		

		
		
					
	</div>
{% endblock %}
		
		
		
		
		