{% extends "kalkulator/base.html" %}

{% block main %}
	<div id="Stanje"> 
			
		
		<form action="dodajZaslon" method="post" enctype="multipart/form-data"> {% csrf_token %} 		

			<label>Znamka:</label><select name="znamka">	
										<option>Vsi</option>
										{% for znamka in znamke %}													
												<option>{{znamka}}</option>												
										{% endfor%}																						
										</select>
										<input type="text" placeholder="Vpisite novo znamko" name="znamka1">
			<label>Model:</label><input type="text" placeholder="Vpisite model" name="model">	
			<label>Vrsta:</label><select name="vrsta">	
										<option>Vsi</option>
										<option>standardni</option>
										<option>širokozaslonski</option>											
										<option>ostalo</option>
										</select>
			<label>Velikost:</label><select name="velikost">
										<option>Vsi</option>
										{% for velikost in velikosti %}													
												<option>{{velikost}}</option>											
										{% endfor%}																						
										</select>
										<input type="text" placeholder="Vpisite novo velikost v inčih" name="velikost1">
			<label>Input-i:</label><select name="input">
										<option>Vsi</option>
										{% for input in inputi %}													
												<option>{{input}}</option>												
										{% endfor%}																						
										</select>	
										<input type="text" placeholder="Vpisite nov input" name="input1">	
			<label>Opis:</label><textarea rows="2" placeholder="Opis" name="opis"></textarea>	
			<label>Kolicina:</label><input type="text" placeholder="Vpisite kolicino" name="kolicina">							
			<label>Slika:</label><input id="id_image" type="file" class="" name="image">		
						
			<input type="submit" id="vpisi" value="Vpisi">			
			
		</form>
		

		
		
		
		
		

		
		
					
	</div>
{% endblock %}
		
		
		
		
		