{% extends "kalkulator/base.html" %}

{% block main %}
	<div id="Stanje"> 
			
		
		<form action="dodajDisk"> {% csrf_token %} 		

			<label>Znamka:</label><input type="text" placeholder="Vpisite znamko" name="znamka">			
			<label>Prikljucek:</label><input type="text" placeholder="Prikljucek" name="prikljucek">
			<label>Velikost:</label><input type="text" placeholder="Velikost" name="velikost">	
			<label>Opis:</label><textarea rows="2" placeholder="Opis" name="opis"></textarea>
			<label>Kolicina:</label><input type="text" placeholder="Vpisite kolicino" name="kolicina">							
										
			<input type="submit" id="vpisi" value="Vpisi">			
			
		</form>
		

		
		
		
		
		

		
		
					
	</div>
{% endblock %}
		
		
		
		
		