{% extends "kalkulator/base.html" %}

{% block main %}
	<div id="Stanje"> 
			
		
		<form action="dodajGraficno"> {% csrf_token %} 		

			<label>Znamka:</label><select name="znamka">	
										<option>Vsi</option>
										{% for znamka in znamke %}													
												<option>{{znamka}}</option>												
										{% endfor%}																						
										</select>
										<input type="text" placeholder="Vpisite novo znamko" name="znamka1">
			<label>Model:</label><input type="text" placeholder="Vpisite model" name="model">	
			<label>Pomnilnik v MB:</label><select name="pomnilnik">
										<option>Vsi</option>
										{% for pomnilnik in pomnilniki %}													
												<option>{{pomnilnik}}</option>												
										{% endfor%}																						
										</select>	
										<input type="text" placeholder="pomnilnik v MB" name="pomnilnik1">	
			<label>Povezava:</label><select name="povezava">	
										<option>Vsi</option>
										<option>AGP</option>
										<option>PCI</option>										
										<option>PCIE</option>	
										<option>ostalo</option>
										</select>	
			<label>Opis:</label><textarea rows="2" placeholder="Opis" name="opis"></textarea>	
			<label>Kolicina:</label><input type="text" placeholder="Vpisite kolicino" name="kolicina">							
										
			<input type="submit" id="vpisi" value="Vpisi">			
			
		</form>
		

		
		
		
		
		

		
		
					
	</div>
{% endblock %}
		
		
		
		
		