{% extends "kalkulator/base.html" %}

{% block main %}
	<div id="Stanje"> 
			
		
		<form action="dodajKabel" method="post" enctype="multipart/form-data"> {% csrf_token %} 		

			<label>Vrsta:</label><select name="vrsta">	
										<option>Vsi</option>
										{% for vrsta in vrste %}													
												<option>{{vrsta}}</option>												
										{% endfor%}																						
										</select>
										<input type="text" placeholder="Vpisite novo vrsto" name="vrsta1">			
			
			<label>Opis:</label><textarea rows="2" placeholder="Opis" name="opis"></textarea>
			<label>Kolicina:</label><input type="number" placeholder="Vpisite kolicino" name="kolicina">							
			<label>Slika:</label><input id="id_image" type="file" class="" name="image">		
					
			<input type="submit" id="vpisi" value="Vpisi">			
			
		</form>
		

		
		
		
		
		

		
		
					
	</div>
{% endblock %}
		
		
		
		
		