{% extends "kalkulator/base.html" %}

{% block main %}
	<div id="Stanje"> 
			
		
		<form action="dodajNapajalnik"> {% csrf_token %} 		

			<label>Znamka:</label><select name="znamka">	
										<option>Vsi</option>
										{% for znamka in znamke %}													
												<option>{{znamka}}</option>												
										{% endfor%}																						
										</select>
										<input type="text" placeholder="Vpisite novo znamko" name="znamka1">			
			<label>Moc v W:</label><select name="moc">	
										<option>Vsi</option>
										{% for moc in moci %}													
												<option>{{moc}}</option>												
										{% endfor%}																						
										</select>
										<input type="text" placeholder="Vpisite moc v W" name="moc1">
			<label>Opis:</label><textarea rows="2" placeholder="Opis" name="opis"></textarea>
			<label>Kolicina:</label><input type="text" placeholder="Kolicina" name="kolicina">							
										
			<input type="submit" id="vpisi" value="Vpisi">			
			
		</form>
		

		
		
		
		
		

		
		
					
	</div>
{% endblock %}
		
		
		
		
		