{% extends "kalkulator/base.html" %}

{% block main %}
	<div id="Stanje"> 
					
		
					
		<form> 											
			<label>Znamka:</label><select name="znamka">	
										<option>Vsi</option>
										{% for znamka in znamke %}													
												<option>{{znamka}}</option>												
										{% endfor%}																						
										</select>
			<label>Povezava:</label><select name="povezava">	
										<option>Vsi</option>
										<option>AGP</option>
										<option>PCI</option>										
										<option>PCIE</option>	
										<option>ostalo</option>
										</select>		
			<label>Pomnilnik:</label><select name="pomnilnik">
										<option>Vsi</option>
										{% for pomnilnik in pomnilniki %}													
												<option>{{pomnilnik}}MB</option>												
										{% endfor%}																						
										</select>								
			<input type="submit" id="vpisi" value="Prikazi">	
		</form>
		
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
		
		
		
		{% for graficna in graficne %}			
		{{graficna.znamka}} {{graficna.model}} {{graficna.pomnilnik}}MB  {{graficna.povezava}}  {{graficna.opis}} {{graficna.kolicina}}  <br>
		<img src="{{graficna.image.url}}" height="117" width="200">
		{% endfor %}

		
		
		<a href="dodajGraficno" style="margin-left:150px">			
			<button> DODAJ NOVO GRAFICNO</button>
		</a>
		
		

		
		
					
	</div>
{% endblock %}
		
		
		
		
		