{% extends "kalkulator/base.html" %}

{% block main %}
	<div id="Stanje"> 					
						
		<a href="graficne">
			<img src="https://i.ytimg.com/vi/hYKANo0R4jY/maxresdefault.jpg" alt="HTML tutorial" style="width:130px;height:100px;border:0;">
		</a>
					
		<a href="tipkovnice">
			<img src="https://assets.pcmag.com/media/images/430310-das-keyboard-prime-13.jpg" alt="HTML tutorial" style="width:130px;height:100px;border:0;">
		</a>
		
		<a href="procesorji">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_9oAV1q1g_Zqi4ig1S4j1-MY_dhP-FIsaKbxziRgoHjrBkqlIYg" alt="HTML tutorial" style="width:130px;height:100px;border:0;">
		</a>
		
		<a href="maticne">
			<img src="https://images-na.ssl-images-amazon.com/images/I/51XqY3bfccL.jpg" alt="HTML tutorial" style="width:130px;height:100px;border:0;">
		</a>
					
	</div>
{% endblock %}


