{% extends "kalkulator/base.html" %}

{% block main %}
	<div id="Stanje"> 
					
		<form> 
			<label>Znamka:</label><select name="znamka">	
										<option>Vsi</option>
										{% for znamka in znamke %}													
												<option>{{znamka}}</option>												
										{% endfor%}																						
										</select>				
			<label>Podnozje:</label><select name="podnozje">	
										<option>Vsi</option>
										{% for podnozje in podnozja %}													
												<option>{{podnozje}}</option>												
										{% endfor%}																						
										</select>
			<label>Vrsta ram-a:</label><select name="ram">	
										<option>Vsi</option>
										{% for ram in rami %}													
												<option>{{ram}}</option>												
										{% endfor%}																						
										</select>
			<label>Vrsta grafične kartice:</label><select name="graficna">	
										<option>Vsi</option>
										{% for graficna in graficne %}													
												<option>{{graficna}}</option>												
										{% endfor%}																						
										</select>						
																									
			<input type="submit" id="vpisi" value="Prikazi">	
		</form>
		
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
		<br>
		<br>
		<br>
		<br>
		
		{% for maticna in maticne %}
		<img src="{{maticna.image.url}}" height="50" width="80">	
			
		{{maticna.znamka}} {{maticna.model}} {{ maticna.podnozje }} {{ maticna.ram }} {{ maticna.graficna }} {{ maticna.opis}}  {{ maticna.kolicina }} 
				<a href="delete/maticna/{{ maticna.id}}" >	
					<img src="https://cdn0.iconfinder.com/data/icons/classic-icons/512/058.png" height="13" width="13">					
				</a>
		

		<br>
		{% endfor %}
				

		
		
		{% if user.is_authenticated %}
			
			<a href="dodajMaticno" >			
			<button> DODAJ NOVO MATICNO</button>
		</a>
			{% else %}								
			{% endif %}
		
		
					
	</div>
{% endblock %}
		
		
		
		
		