{% extends "kalkulator/base.html" %}

{% block main %}
	<div id="Stanje"> 
					
		
					
		<form> 											
			<label>Znamka:</label><select name="znamka">	
										<option>Vsi</option>
										{% for znamka in znamke %}													
												<option>{{znamka}}</option>												
										{% endfor%}																						
										</select>
			<label>Prikljucek:</label><select name="prikljucek">	
										<option>Vsi</option>
										<option>PCI</option>
										<option>PCIE</option>
										<option>USB</option>	
										<option>ostalo</option>
										</select>		
			<label>Vrsta:</label><select name="vrsta">
										<option>Vsi</option>
										<option>Zicna</option>
										<option>Brezzicna</option>
										<option>Ostalo</option>										
										</select>								
			<input type="submit" id="vpisi" value="Prikazi">	
		</form>
		
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
		
		
		
		{% for mrezna in mrezne %}			
		{{mrezna.znamka}} {{mrezna.prikljucek}} {{mrezna.vrsta}}  {{mrezna.opis}} {{mrezna.kolicina}}  <br>
		{% endfor %}

		
		
		<a href="dodajMrezno" style="margin-left:150px">			
			<button> DODAJ NOVO MREZNO</button>
		</a>
		
		

		
		
					
	</div>
{% endblock %}
		
		
		
		
		