{% extends "kalkulator/base.html" %}

{% block main %}
	<div id="Stanje"> 
			
		
		<form> 	
			<label>Znamka:</label><select name="znamka">	
										<option>Vsi</option>
										{% for znamka in znamke %}													
												<option>{{znamka}}</option>												
										{% endfor%}																						
										</select>
			<label>Vrsta:</label><select name="vrsta">	
										<option>Vsi</option>
										{% for vrsta in vrste %}					
										
											{% if izbrani1 == vrsta %}
												<option selected>{{vrsta}}</option>		
											{% else %}	
												<option >{{vrsta}}</option>												
											{% endif %}	
										
																							
										{% endfor%}		
										</select>							
			<label>Prikljucek:</label><select name="prikljucek">	
										<option>Vsi</option>
										{% for prikljucek in prikljucki %}													
												<option>{{prikljucek}}</option>												
										{% endfor%}	
										</select>			
			<input type="submit" id="vpisi" value="Prikazi">	
		</form>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
		{% for razsiritvena in razsiritvene %}	
		<img src="{{razsiritvena.image.url}}" height="50" width="80">	
		
		{{razsiritvena.znamka}}   {{razsiritvena.vrsta}} {{razsiritvena.prikljucek}} {{razsiritvena.opis}} {{razsiritvena.kolicina}}
		<a href="delete/razsiritvena/{{ razsiritvena.id}}" >	
					<img src="https://cdn0.iconfinder.com/data/icons/classic-icons/512/058.png" height="13" width="13">					
				</a>
		
		
		
		<br>
		{% endfor %}

		
		
		
		
		{% if user.is_authenticated %}
			
			<a href="dodajRazsiritveno" >			
				<button> DODAJ NOVO RAZSIRITVENO</button>
			</a>
			{% else %}								
			{% endif %}

		
		
					
	</div>
{% endblock %}
		
		
		
		
		