{% extends "kalkulator/base.html" %}

{% block main %}
	<div id="Stanje"> 
			
		
			
		
		
		
		
			<a href="graficne.html">
				<img src="https://i.ytimg.com/vi/hYKANo0R4jY/maxresdefault.jpg" alt="HTML tutorial" style="width:130px;height:100px;border:0;">
			</a>
		
	
		
		<a href="tipkovnice.html">
			<img src="https://assets.pcmag.com/media/images/430310-das-keyboard-prime-13.jpg" alt="HTML tutorial" style="width:130px;height:100px;border:0;">
		</a>
		

		
		
					
	</div>
{% endblock %}


