{% extends "kalkulator/base.html" %}

{% block main %}
	<div id="Stanje"> 
			
		
			
		
		
		
		
			<a href="procesorji.html">
				<img src="https://images.anandtech.com/doci/6985/DT_Haswell_i7_FB_678x452.jpg" alt="HTML tutorial" style="width:130px;height:100px;border:0;">
			</a>
		
	
		
		<a href="tipkovnice.html">
			<img src="https://assets.pcmag.com/media/images/430310-das-keyboard-prime-13.jpg" alt="HTML tutorial" style="width:130px;height:100px;border:0;">
		</a>
		

		
		
					
	</div>
{% endblock %}


