{% extends "kalkulator/base.html" %}

{% block main %}
	<div id="Stanje"> 
			
		
		<form> 	
			<label>Znamka:</label><select name="znamka">	
										<option>Vsi</option>
										{% for znamka in znamke %}													
												<option>{{znamka}}</option>												
										{% endfor%}																						
										</select>
			<label>Prikljucek:</label><select name="prikljucek">	
										<option>Vsi</option>
										<option>PS/2</option>
										<option>USB</option>										
										</select>		
			<label>Povezava:</label><select name="povezava">	
										<option>Vsi</option>
										<option>Zicna</option>
										<option>Brezzicna</option>
										</select>	
			<input type="submit" id="vpisi" value="Prikazi">	
		</form>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
		{% for tipkovnica in tipkovnice %}			
		{{tipkovnica.znamka}}   {{tipkovnica.prikljucek}} {{tipkovnica.povezava}} {{tipkovnica.kolicina}}<br>
		{% endfor %}

		
		<a href="dodajTipkovnico" style="margin-left:150px">			
			<button> DODAJ NOVO TIPKOVNICO</button>
		</a>
		
		
		

		
		
					
	</div>
{% endblock %}
		
		
		
		
		