{% extends "kalkulator/base.html" %}

{% block main %}
	<div id="Stanje"> 					
						
		
		
		
		
		
		
							
		{% for kategorija in kategorije %}			
			


			
			<a href="tiskalniki?izbrani={{ kategorija.podkategorija }}" >
				<img src='{{kategorija.image.url}}' style="width:200px;height:150px;border:1;">
			</a>		
			
		{% endfor %}		
		{% if user.is_authenticated %}				
		<form action="vrsteTiskalnikov" method="post" enctype="multipart/form-data"> {% csrf_token %} 		
			
			<input type="text" placeholder="Vpisite novo podkategorijo" name="podkategorija">									
			<label>Slika:</label><input id="id_image" type="file" class="" name="image">		
						
			<input type="submit" id="vpisi" value="Vpisi">			
			
		</form>						
		{% endif %}	
		
	</div>
{% endblock %}

