{% extends "kalkulator/base.html" %}




{% block main %}
	<div id="Stanje"> 
			
		
		<form> 	
			<label>Znamka:</label><select name="znamka">	
										<option>Vsi</option>
										{% for znamka in znamke %}													
												<option>{{znamka}}</option>												
										{% endfor%}																						
										</select>
			<label>Vrsta:</label><select name="vrsta">	
										<option>Vsi</option>
										<option>standardni</option>
										<option>širokozaslonski</option>											
										<option>ostalo</option>
										</select>
			<label>Velikost:</label><select name="velikost">
										<option>Vsi</option>
										{% for velikost in velikosti %}													
												<option>{{velikost}}"</option>												
										{% endfor%}																						
										</select>
			<label>Input-i:</label><select name="input">
										<option>Vsi</option>
										{% for input in inputi %}													
												<option>{{input}}</option>												
										{% endfor%}																						
										</select>									
			<input type="submit" id="vpisi" value="Prikazi">
				
		</form>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
		{% for zaslon in zasloni %}			
		{{zaslon.znamka}}   {{zaslon.model}} {{zaslon.vrsta}} {{zaslon.velikost}}" {{zaslon.input}} {{zaslon.opis}} {{miska.kolicina}}<br>
		{% endfor %}

		
		
		
		
		{% if user.is_authenticated %}
			
			<a href="dodajZaslon" style="margin-left:150px">			
			<button> DODAJ NOV ZASLON</button>
		</a>
			{% else %}								
			{% endif %}

		
		
					
	</div>
{% endblock %}
		
		
		
		
		