{% extends "kalkulator/base.html" %}

{% block main %}
	<div id="Stanje"> 
					
		<form> 											
								
			<label>Znamka:</label><select name="znamka">	
										<option>Vsi</option>
										{% for znamka in znamke %}													
												<option>{{znamka}}</option>												
										{% endfor%}																						
										</select>	
			<label>Model:</label><input type="text" placeholder="Model" name="model">
			<label>Prikljucek:</label><select name="prikljucek">	
										<option>Vsi</option>
										<option>PCI</option>									
										<option>PCIE</option>	
										<option>ostalo</option>
										</select>
			<label>Opis:</label><textarea rows="2" placeholder="Opis" name="opis"></textarea>
			<label>Kolicina:</label><input type="text" placeholder="Kolicina" name="kolicina">																					
			<input type="submit" id="vpisi" value="Prikazi">	
		</form>
		
		<br>
		<br>
		<br>
		<br>
		<br>
					

		
		{% for zvocna in zvocne %}			
		{{zvocna.znamka}} {{zvocna.model}} {{zvocna.prikljucek }} {{zvocna.opis}}  {{zvocna.kolicina}}  <br>
		{% endfor %}
		
		
		<a href="dodajZvocno" style="margin-left:150px">			
			<button> DODAJ NOVO ZVOCNO</button>
		</a>

		
		
					
	</div>
{% endblock %}
		
		
		
		
		